@font-face{
    font-family:"Budhayanti";
    src: url("fonts/Budhayanti.ttf");
}

@font-face{
    font-family:"Aspergit";
    src: url("fonts/Aspergit.otf");
}
.navbar-brand{
    font-weight: 500;
    color: rgb(70, 69, 69)
}
.name-plate {
    text-align: center;
}

.name-plate h1 {
    font-family:"Aspergit"; 
    padding-top: 100px;
    font-size: 50px;
    font-weight: normal;
    color: rgb(88, 86, 86); 
    font-style: italic
}

.about-me{
    margin-top: 20px;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
    min-height: 250px;
}

.about-me .links-row{
    padding-top: 20px;
    padding-top: 80px;
    text-decoration: none;
    color: rgb(83, 83, 83);
}
.about-me .links-row:hover{
    text-decoration: none;
}
.about-me span{
    font-size: 2rem;
}

.work{
    font-family:"Budhayanti";
    background-color: #F5F5DC;
    color: rgb(83, 83, 83);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 80px;
}

.work .heading:hover{
    text-decoration: underline;
}

.projects{
    margin-top: 20px;
    padding-top: 20px;
}

.main-bg-cover {
    height: 400px;
    background-image: url("../images/grey_background.jpg");
    background-attachment: fixed;
    overflow: hidden;
}

.head-direct{
    margin-top: 20px; 
    text-align: center;
    z-index: 99
     
}

.head-direct a{
    padding: 15px; 
    color: white;
    background-color:#D8BFD8;
    font-weight: 700;
}

.head-direct a:hover{
    color: white;
    background-color:#DDA0DD;
    font-weight: bold;
}

.foot{
    height: 250px;
    background-image: url("../images/grey_background.jpg");
}

.contact{
    padding-top: 60px;
}

.position{
    padding-top: 50px;
    color: rgb(61, 60, 60); 
    font-weight: bold;
    text-decoration: underline;
}