body{
    margin: 0;
}

.navbar{
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 10;
    height: 9vh;
    background: #b66b39e7;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "logo . links"
}

.navbar .logo{
    grid-area: logo;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar .nav-links{
    padding-top: 1.4em;
    grid-area: links;
    font-family: 'Times New Roman', Times, serif;
}
.navbar .nav-links a{
    padding-left: 1.2em;
    text-decoration: none;
    color: #ffffff;
}

.navbar .nav-links a:hover{
    text-decoration: underline;
}

.small-scr{
    display: none;
}

.hidden-links{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100vw;
    height: 80vh;
    background:  #a05e31e7;
    z-index: 2;
    animation: menu 1s ease-in-out;
}
.hidden-links ul{
    padding: 2em;
}
.hidden-links li{
    list-style: none;
    padding: 2em;
}
.hidden-links li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}
.cover{
    height: 80vh;
    padding: 1em;
    color: #494949;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        ". pic"
        "info pic"
        ". pic";
}
.cover .info{
    grid-area: info;
    text-align: center;
}
.pic{
    grid-area: pic;
    background-image: url('../images/pic.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.seperator{
    height: 10px;
    background: #ffffff;
}
.scroll-effect{
    background: rgb(66, 66, 66);
    animation: scroll 2s ease-in-out;
}
.about{
    color:  rgb(66, 66, 66);
    padding: 1em;
    height: 60vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
}

.about .text-about{
    grid-row: 2/3;
}
.skill{
    height: 60vh;
    background: black;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    display: grid;
    padding-left: 2em;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 0.8em;
    grid-template-areas: 
        ". ."
        "skills experience"
        ". .";
}
.skill-list{
    grid-area: skills;
}
.skill-list h2{
    color: rgb(255, 199, 153)
}
.skill-list ul{
    -webkit-padding-start: 10px;
}
.skill-list ul li{
    padding: 0.2em;
    list-style: url("../images/list-style.png");
}
.experience{
    grid-area: experience;
}
.experience h2{
    color: rgb(255, 199, 153)
}
.experience ul{
    -webkit-padding-start: 10px;
}
.experience ul li{
    padding: 0.2em;
    list-style: url("../images/list-style.png");
}

footer{
    height: 30vh;
    bottom: 0;
    z-index: 2;
    background: #303030;
    color: #ffffff;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
        "foot"
        "copy";
}

.links{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left: 1.2em;
    padding-top: 1em;
}
.links a{
    grid-row: 2/3;
    font-size: 1.4rem;
    color: #ffffff;
    text-decoration: none;
}

.copy{
    padding: 1em;
    z-index: 5;
    grid-area: copy;
    color: #ffffff;
    background: rgb(75, 75, 75);
    font-family: 'Courier New', Courier, monospace;
}

.hidden{
    display: none;
}

@keyframes scroll{
    0%{
        width: 0;
    }
    100%{
        width: 100vw;
    }
}

@keyframes menu{
    0%{
        height: 0
    }
    100%{
        height: 80vh
    }
}

@media only screen and (max-width: 765px) { 
   .navbar{
       grid-template-columns: repeat(2,1fr);
       grid-gap: 1em;
       grid-template-areas: "logo links"
   }
}

@media screen and (max-width: 550px) {
    .navbar{
        height: 10vh;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0;
        padding: 0;
    }
    .navbar .logo{
        padding-left: 10px;
        text-align: left
    }
    .large-scr{
        display: none;
    }

    .small-scr{
        display: inline;
        padding-right: 10px;
        text-align: right;
    }
    .cover{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 1fr;
        grid-template-areas: 
            "pic"
            "info";
    }

    .copy{
        padding: 1.4em;
        font-size: 0.6em;
    }
}

@media screen and (max-width: 400px) {
    
    .skill{
        height: 100vh;
    }
    .skill-list ul{
        padding-top: 20px;
    }
    .links{
        text-align: left;
    }
    .links a{
        font-size: 1.1rem;
    }    
}

@media screen and (max-height: 550px) {
    .navbar{
        height: 14vh;
    }
    .about{
        height: 80vh;
    }
    .skill{
        height: 120vh
    }
}

@media screen and (max-height: 400px) {
    .navbar{
        height: 18vh;
    }
    .cover{
        grid-gap: 10px;
    }
}
