*{
    font-family: 'Roboto';
}

.about-wrapper{
    /* height: calc(100vh - 56px); */
}

.about-text{
    width: 60vw;
    border-left: 4px solid #F7A7A6; 
}

.experience{
    background: #F7A7A6;
    color: #FFF;
}

.education{
    background: #93B8A1;
    color: #FFF;
}

.exp-list, .edu-list, .skill-list{
    width: 55%;
}

.text-span{
    color: #F5F5F5;
}

.skills{
    background: #4D5E72;
    color: #FFF;
}

.footer{
    background: #2A363B;
    height: 56px;
}

.social-link a{
    text-decoration: none;
    color: #6c757d;
}

.social-link i:hover {
    color: #F7A7A6;
}   